@font-face {
  font-family: "Dancing Script";
  src: url(../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Indie Flower";
  src: url(../fonts/Indie_Flower/IndieFlower-Regular.ttf);
}
@keyframes headerAnimation {
  0% {
    color: white;
    height: 0;
    font-size: 0;
    padding: 0 50px;
  }
  100% {
    color: white;
    padding: 100px 50px;
    font-size: 95px;
  }
}
p {
  font-family: "Indie Flower";
  font-size: 20px;
}
.headerSection,
h2 {
  font-family: "Dancing Script";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.headerSection,
main {
  background: linear-gradient(#c33764, #1d2671);
}

.headerSection {
  /*   background: linear-gradient(#aa076b, #61045f); */
  text-align: center;
  margin: 30px auto;
  border: 1px solid purple;
  border-radius: 25px;
  box-shadow: 0 0 15px 15px purple;
  animation: headerAnimation 2s linear forwards;
  text-shadow: 1px 3px 10px white;
}
main {
  /* background: linear-gradient(#c33764, #1d2671); */
  color: white;
  border-radius: 25px;
  box-shadow: 0 0 10px 10px purple;
  margin: 0 auto 10px;
}
main section {
  padding: 20px;
}
main section h2 {
  padding: 25px 0;
  text-align: center;
  font-size: 40px;
}
main div {
  text-align: center;
  padding: 20px 20px;
}
.gitInit a {
  color: white;
  font-size: 15px;
  border: 1px solid #61045f;
  border-radius: 15px;
  padding: 10px 40px;
  background: linear-gradient(#aa076b, #61045f);
  box-shadow: 0 0 5px 5px #61045f;
}
